################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DatingApp/appsettings.json
/DatingApp/appsettings.Development.json
/DatingApp/appsettings.json
/DatingApp/appsettings.Development.json
