html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/*html {
  position: relative;
  min-height: 100%;
}*/

.login-button {
    float: right;
}
/* Custom styles for dropdown menu */
.dropdown-menu {
    background-color: #fff; 
    border: 1px solid rgba(0, 0, 0, 0.15); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    border-radius: 5px;
}

.dropdown-item {
    color: #333 ;
}

    .dropdown-item:hover {
        background-color: #f0f0f0; 
    }



