<!-- loader.html -->
<link href="/css/loaders.css" rel="stylesheet" />
<script src="/js/site.js"></script>
<div id="loader" style="display: none;">
    <div style="color: #dbbe39" class="la-line-scale-party la-2x">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<script>
    // Function to show the loader
    function showLoader() {
        $('#loader').show();
    }

    // Function to hide the loader
    function hideLoader() {
        $('#loader').hide();
    }
</script>